// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Benenova:
$green: #319795;
$green-text:#234E52;
$green-very-light: #F0FFFF;
$yellow: #FFB90F;
$white: #FFFFFF;
