.mission-couv{
	height:200px; 
	width: 100%; 
	background-color: $green; 
		img {
		background-image: cover;
		margin-left: auto;
		margin-right: auto;
	}
	p {
		position:relative; 
		color: $white; 
		top: 17px; 
		right: 95px;
		font-weight: bold;  
	}
}

.mission-details {
	background-color: $white; 
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative; 
	margin-top: -34px; 
	box-shadow: 0 0 15px rgba(0,0,0,0.6);

	h4 {
		font-family: $headers-font; 
		color: $green; 
		font-size: 17px; 
		font-weight: bold; 
	} 
}

.association-details {
	background-color: $white; 
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative; 
	box-shadow: 0 0 15px rgba(0,0,0,0.6); 
	margin-top: 12px; 
	margin-bottom: 12px;
	h4 {
		font-family: $headers-font; 
		color: $green; 
		font-size: 17px; 
		font-weight: bold; 
	} 
}

.alignement-description-logo {
	display: flex; 
}

.partner-logo{
	border: 2px solid $green;
}

.mission-infos {
	background-color: $white; 
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative; 
	box-shadow: 0 0 15px rgba(0,0,0,0.6); 
	margin-top: 12px; 
	margin-bottom: 12px;
}

.time {
	display: flex; 
	p {
		padding-left: 20px; 
		padding-right: 20px;
	}
}

.localisation {
	display: flex; 
	p {
		padding-left: 20px; 
	}
}

.icon {
	height: 30px;
	width: 30px;  
	color: $green; 
}