	//CONTAINER

.flex-container {
  display: flex;
  justify-content: center;
}

// BANNER

.mission-couv{
	height:200px;
	width: 100%;
	background-color: $green;

	img {
		background-image: cover;
		margin-left: auto;
		margin-right: 0px;
	}
}

.flex-container {
  display: flex;
  justify-content: center;
}

.help-popover {
  position: absolute;
  background-color: $yellow;
  color: $green;
  border-radius: 4px;
  z-index: 2;
  padding: 15px;
  top:-170px;
  opacity: 0;
}

// BANNER

.mission-couv{
	height:200px;
	width: 100%;
	background-color: $green;

	img {
		background-image: cover;
		margin-left: auto;
		margin-right: 0px;
	}
}

.mission-banner{
  border-radius: 4px;
  height: 200px;
  position: relative;
  background-size: cover;
  margin-left: -16px;
  margin-right: -16px;

 img {
   position: absolute;
   right: 15px;
   top: 15px;
   border-radius: 50%;
   box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
   height: 45px;
   width: 45px;
 }

}

// BANNER // card

.card-count-places{
    background-color: $green;
    text-align: center;
    justify-content: center;
    width:  70px;
    height:   60px;
    border-radius: 4px;
    position: absolute;
    right: 15px;
    bottom: 15px;
    margin: 0;
    margin-bottom: 37px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);

    p, h3{
    	font-weight: bold;
    	color: $white;
    	margin-bottom: 0px;
    	margin-top: 3px;
    }

    p{
    	margin-top: 3px;
    	font-size: 16px;
    }
    h3{
    	font-size: 12px;
    }
}

// MISSION

.mission-details {
	background-color: $white;
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative;
	margin-top: -34px;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);

	h4 {
		font-family: $headers-font;
		color: $green;
		font-size: 17px;
		font-weight: bold;
		opacity: 0.6; 
	}
	p {
		text-align: justify;
		margin-top: 13px; 
	}
}

.mission-full {
	color: $white;
	margin: auto;
}

// PARTNER

.association-details {
	background-color: $white;
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	margin-top: 12px;
	margin-bottom: 12px;
	h4 {
		font-family: $headers-font;
		color: $green;
		font-size: 17px;
		font-weight: bold;
		opacity: 0.6; 
	}
	p {
		text-align: justify;
	}
}

.alignement-description-logo > .partner-logo {
	margin-top: 10px;
	border: 1.5px solid $green;
	float:left;
	margin-right: 20px;
}

// DETAILS MISSION

.mission-infos {
	background-color: $white;
	padding: 15px 15px 2px 15px;
	border-radius: 4px;
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	margin-top: 12px;
	margin-bottom: 12px;
  p {
    margin: 0px;
  }
}

.flex-container{
	display: flex;
	justify-content: left;
}

.datetime, .duration, .address {
	display: flex;

	.far, .fas {
		color: $middle-gray;
		font-size: 25px;
	}

  p {
		margin-top: 4px;
		margin-left: 13px;
		margin-bottom: 10px; 
		color: $gray;
	}
}

.duration{
	margin-left: 30px; 
}

//--- BUTTON ----

.commitment {
	width: 100%;
}

.sticky-button{
	position: -webkit-sticky;
	position: sticky;
	bottom: 1rem;
	align-self: flex-end;
	width: 100%;
	button {
	  box-shadow: 0 15px 15px rgba(53, 150, 148, 0.4);
	  margin-left: 0px;
	}
}

//--- MAP ---
.show-map {
  margin-bottom: 10px;
  margin-top: 10px;
}
