<div class ="container-fluid">
   <h2>Mon tableau de bord</h2>
    <div class="profil">
      <%= cl_image_tag current_user.avatar, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar" %>
      <p>
        <%= current_user.last_name %>
        <%= current_user.first_name %>
      </p>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header"> -->
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->
        <button type="button" class="close croix" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <!-- </div> -->
      <div class="modal-body">
        <strong>Super, merci pour ta participation !</strong>
        <hr>
        Tu vas recevoir un email avec les coordonnées de ton Supernova (ton interlocuteur privilégié).</div>
    </div>
  </div>
</div>
