<div class ="container-fluid">
   <h2>Mon tableau de bord</h2>
    <div class="profil">
      <%= cl_image_tag current_user.avatar, crop: :thumb, gravity: :face, width: 50, height: 50, class: "avatar" %>
      <p>
        <%= current_user.last_name %>
        <%= current_user.first_name %>
      </p>
  </div>
</div>

