<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close croix" data-dismiss="modal" aria-label="Close">
        <span class="croix" aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <p>
          <strong>Super, merci pour ta participation !</strong>
          <hr>
          Tu vas recevoir un email avec les coordonnées de ton <b>Supernova</b> (ton interlocuteur privilégié).</div>
        </p>
    </div>
  </div>
</div>
