<div class="home-pic">
  <h1>Benenova</h1>
  <br>
  <h4>S’engager n’a jamais été aussi simple</h2>
    <br>
    <%= link_to "Nantes", missions_path(address: "Nantes", radius: 5), class: "btn btn-info city" %>
    <%= link_to "Paris", missions_path(address: "Paris", radius: 5), class: "btn btn-info city" %>
    <%= link_to "Angers", missions_path(address: "Angers", radius: 5), class: "btn btn-info city" %>
    <%= link_to "Lille", missions_path(address: "Lille", radius: 5), class: "btn btn-info city" %>
</div>
