.confirm {
  border-radius: 10px;
  color: $green-text;
  font-weight: bold;
  width: 40%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
  flex-grow: 1;
  // padding-right: 12px;
  // padding-left: 12px;
}

.city {
  margin: 12px;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 10px;
  color: $green-text;
  font-weight: bold;
  width: 40%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, .2);
  justify-content: center;
}

.non {
  width: 123px;
  border-radius: 10px;
}

.oui {
  border-radius: 10px;
}

.oui p {
  color: $green-text;
}

.croix {
  position: absolute;
  top: 5px;
  right: 10px;
}
