.mapboxgl-popup {
  width: 100vh;
  height: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-radius: 10px;
}

.mapboxgl-popup-content p {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #319795;
}

#map {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  position: absolue;
  z-index: 5;
}
