.mission-marker {
  position: relative;
  height: 25px;
  width: 25px;
  transition: height .15s;
  &.highlight {
    z-index: 1;
    background-image: asset-url("location-pin-yellow.png") !important;
    height: 40px;
    width: 40px;
  }
}
