.mission-marker {
  position: relative;
  &.highlight {
    z-index: 1;
    // background-image: url("../assets/images/location-pin-green.png") !important;
    background-color: red !important;
  }
}
