.navbar {
	color: $white !important ;
	justify-content: space-between;
	background: $green;
  a {
  	color: $white !important ;
  	text-decoration: none !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  font-family: 'Gelasio', serif;;
  letter-spacing: 1px;
}

.nav-link {
	color: $white !important ;
	text-align: center;
}

.navbar-toggler {
	// background-color: $white;
  background-color: $green;
}

span.navbar-toggler-icon {
  // color: $green;
  color: white;
}
