<h1>Missions</h1>

<div>

  <% @missions.each do |mission| %>
    <%= cl_image_tag(mission.picture, height: 700, crop: :fill) %>
    <p><%= display_date(mission.datetime, mission.duration) %> </p>
    <h2><%= mission.title.capitalize %></h2>
    <p><%= mission.description.capitalize %></p>
  <% end %>

</div>








